.wrapper {
  padding: 20px;
}

.img-bg-top {
  background-image: url("/public/img/Map.png");
  background-repeat: repeat-x;
}
.img-bg-top-register {
  background-image: url("/public/img/mapsputih.svg");
  background-repeat: repeat-x;
}

:root {
  --mdc-theme-primary: #fcb8ab;
  --mdc-theme-secondary: #feeae6;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
}

.logo-white {
  width: 150px;
}

.map-container {
  width: 100%;
  height: 50vh;
}

.nav-item button {
  font-size: 16px;
  font-weight: 500;
}
.form-check-input:checked {
  background-color: #00c6c8;
  border-color: #00c6c8;
}
.form-check-input {
  width: 1.5em;
  height: 1.5em;
}
.riwayat .nav-pills .nav-link {
  border-radius: unset;
}

.riwayat .nav-link {
  color: unset;
}

.riwayat .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: unset !important;
  border-bottom: 2px solid #ffba00;
  color: #ffba00;
  box-shadow: 0 0 0 transparent !important;
}

.riwayat .nav-pills .nav-link,
.nav-pills .show > .nav-link {
  box-shadow: 0 0.125rem 0 rgba(0, 0, 0, 0.075) !important;
}

.riwayat .nav-item button {
  font-size: 16px;
  font-weight: 500;
}

.riwayat .date-time {
  font-size: 12px;
}
.riwayat .nav-pills .nav-link {
  border-radius: unset;
}

.riwayat .nav-link {
  color: unset;
}
